*{
	scroll-behavior: smooth !important;
	box-sizing: border-box;
}
body{
	font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
	text-align:center;
	background-color: #FAFAFA;
    color: black;
}
a{
	color: #0067de;
}
.h{
	color: #25D0F0;
	padding-left: 2em;
}
.b{
	color: #65FF00
}
.white{
	color:white;
	padding-left: 5px;
	padding-right: 5px;
}
.l{
	margin-bottom: 20px
}
.l > span > a {
	color: #65FF00;
	
}
ul{
	display: inline-block;
    *display: inline;
    zoom: 1;
    list-style: none;
}
li{
	font-size:18px;
	margin-bottom: 7px;
}
#data, ul{
	text-align:left;
}
#data{
	padding-left:1em;
	background-color:#1A1C1E;
}
#termynal{
	background-color:#1A1C1E;
}
.p{
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    border-radius: 4px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height:1.5
}
.mySlides {display: none}
ul {vertical-align: middle;text-align:center}

.fdb{
    text-align:center
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align:left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding-right: 13px;
	padding-left: 13px;
	padding-top: 16px;
	padding-bottom: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8)
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}
@media only screen and (min-width: 992px) {
	body{
		margin-left: 5em;
		margin-right: 5em;
	}
	h4{
		margin-left: 11em;
		margin-right: 11em;
	}
}
@media only screen and (max-width: 992px) {
	ul, .b{
		display:block;
	}
	.ee{top: 100%;}

}
